
  <%= form_for @identification, :html => {:class => "form-horizontal"} do |f| %>
    <% if @identification.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@identification.errors.count, "error") %> prohibited this identification from being saved:
        </h2>

        <ul>
        <% @identification.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
     <div class="control-group" >
      <label class="control-label" for="inputEmail"><b >UserName</b></label>
      <div class="controls">
        <%= f.text_field :userName %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword"><b>Password</b></label>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword"><b>Token</b></label>
      <div class="controls">
        <%= f.password_field :token %>
      </div>
    </div>
     <div class="control-group">
      <label class="control-label" for="inputPassword"><b>Select Classes</b></label>
      <div class="controls">
       <%= f.check_box :selectClass %> 
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button id="submitident" type="submit" class="btn btn-primary" data-loading-text="Loading...">Start The Race</button>
      </div>
    </div>
    

  <% end %>
