<div class="row">
	<div class="span9 offset1">
		<h5>Run All Tests Result For : <%= @identification[:userName]%></h5>
		<p id="notice"><%= notice %></p>
		<br/>
		<a href="/home" class="btn btn-primary">Home</a>
		<br/>
		<table class="table table-bordered">
		  <tr>
		    <th>Number Of Test</th>
		    <th>Number Of Failures</th>
		    <th>Overal Code Coverage</th>
		    <th>Total Ellapsed Time</th>
		  </tr>


		  <tr>
		    <td><%= @numberTests %></td>
		    <td><%= @numberFailures %></td>
		    <td><%= @overAllCodeCoverage%> </td>
		    <td><%= @totalTime %> min </td>
		  </tr>

		</table>

		<br/>
		
		<h5>Classes with failures</h5>
		<br/>
		<table class="table table-striped table-bordered">
		  <tr>
		    <th>Class Name</th>
		    <th>Method Name</th>
		    <th>Message</th>
		    <th>Stack Trace</th>
		  </tr>

		<% @failures.each do |failure| %>
		  <tr>
		    <td><%= failure[:name] %></td>
		    <td><%= failure[:method_name] %></td>
		 	<td><%= failure[:message] %></td>
		    <td><%= failure[:stack_trace] %></td>
		  </tr>
		<% end %>
		</table>
		
		
	  <h5>Code Coverage By Class</h5>
	  <br/>
		    <table id="codecoverage" class="table table-bordered">
			  <tr>
			    <th>Class Name</th>
			    <th>Code Coverage</th>  
			  </tr>
		    <% @codeCoverage.each do |className, coverage| %> 
			  	<tr>
				    <td><%= className %></td>
				    <td class="coverage"><%= coverage %></td>
				</tr>
		    <% end %>
		    </table>

		
		<a href="/home" class="btn btn-primary">Home</a>
	</div>
</div>
